{% extends 'app.twig'%}
{% block content %}
    <form action="verifConnexion" method="POST">
      <div class="form-group">
        <label class="span-12"for="email">Adresse e-mail :</label>
        <input class="span-5"type="email" class="form-control" name="email" id="email">
      </div>
      <div class="form-group">
        <label class="span-12"for="mdp">Mot de passe:</label>
        <input class="span-5"type="password" class="form-control" name="mdp" id="mdp">
      </div>
      <div class="span-12">
        <button type="submit" class="btn btn-primary span-1">Envoyer</button>
      </div>
    </form>
    
    <a href="createExperience">creer experience</a> <br>

    {% if success is defined %}
        <div class="alert">  {{success}} </div>
    {%endif%}
    <br>
    <br>
    <br>
    {% if error is defined %}
        {% for er in error %}
            <div class="alert alert-danger">  {{er}} </div>
        {%endfor%}
    {%endif%}



{% endblock %}