<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
        <title>Psyphine++</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title">
        <link rel="stylesheet" href="css/style.css" media="screen" title="no title">
        <script src="js/jquery-3.1.1.js" charset="utf-8"></script>
        <script type="text/javascript" src="js/jPlayer-2.9.2/dist/jplayer/jquery.jplayer.min.js"></script>
        <link href="js/jPlayer-2.9.2/dist/skin/blue.monday/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
        <script src="js/bootstrap.min.js" charset="utf-8"></script>
        <script src="js/Chart.bundle.min.js" charset="utf-8"></script>

    </head>
    <body>
      {% include 'navigation.twig' %}

      {%block content%}
      {%endblock%}
    </body>
</html>
