{% extends 'app.twig'%}
{% block content %}
    <h1 class="center"> Bienvenue sur Psyphine </h1>
    <hr>

    <div class="center">
        <h3> Réalisation du projet : </h3>
        <ul class="list">
            <li> WEBER Guillaume </li>
            <li> RUHLMANN Benjamin </li>
            <li> LATEVE Gauthier </li>
            <li> BARRE David </li>
        </ul>

        <h3> Tuteurs :</h3>
        <ul class="list">
            <li> BONIFACE Yann </li>
            <li> BOUMAZA Amine </li>
        </ul>

        <h3> Lien vers le CMS :</h3>
        <a href="../wordpress/"> CMS </a>
        <h3> BDD :</h3>
        <a href="bdd">remplir</a>
        <a href="viderBdd">vider</a>
    </div>
{% endblock %}
