{% extends 'app.twig'%}
{% block content %}

    <div class="container">

        <h1 class="center"> Connexion </h1>
        <hr>

        <div class="login">
            <form action="verifConnexion" method="POST">
              <div class="form-group">
                <label class="span-12 block"for="email">E-mail :</label>
                <input class="span-5"type="email" class="form-control" name="email" id="email">
              </div>
              <div class="form-group">
                <label class="span-12 block"for="mdp">Mot de passe:</label>
                <input class="span-5"type="password" class="form-control" name="mdp" id="mdp">
              </div>
              <div class="span-12">
                <button type="submit" class="btn btn-primary span-1">Envoyer</button>
              </div>
            </form>
        </div>
    </div>


{% if success is defined %}
    <div class="alert">  {{success}} </div>
{%endif%}

{% if error is defined %}
    {% for er in error %}
        <div class="alert alert-danger">  {{er}} </div>
    {%endfor%}
{%endif%}

{% endblock %}
