{% extends 'app.twig'%}
{% block content %}
<script type="text/javascript">

//<![CDATA[
$(document).ready(function(){

    $("#jquery_jplayer_1").jPlayer({
        ready: function () {
            $(this).jPlayer("setMedia", {
                title: "{{video.name}}",
                rtmpv: "{{video.url}}",
                poster: ""
            });
        },
        swfPath: "js/jPlayer-2.9.2/dist/jplayer",
        solution: "flash",
       	supplied: "rtmpv",
       	preload: "auto",
        size: {
            width: "640px",
            height: "360px",
            cssClass: "jp-video-360p"
        },
        useStateClassSkin: true,
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true
    });

});
//]]>
</script>
<div class="container">
        <div id="titre">
                <h1>{{experience.title}}</h1>

        </div>
        <p>
        {{experience.presentation}}
        <br>
        <br>
        {{experience.explication}}
        </p>
        <br>
    <div class="containerVideo col-xs-12 col-md-7">
			<div id="jp_container_1" class="jp-video jp-video-360p lecteurVideo" role="application" aria-label="media player">
				<div class="jp-type-single">
					<div id="jquery_jplayer_1" class="jp-jplayer"></div>
					<div class="jp-gui">
						<div class="jp-video-play">
							<button class="jp-video-play-icon" role="button" tabindex="0">play</button>
						</div>
						<div class="jp-interface">
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
							<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
							<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
							<div class="jp-controls-holder">
								<div class="jp-controls">
									<button class="jp-play" role="button" tabindex="0">play</button>
									<button class="jp-stop" role="button" tabindex="0">stop</button>
								</div>
								<div class="jp-volume-controls">
									<button class="jp-mute" role="button" tabindex="0">mute</button>
									<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
									<div class="jp-volume-bar">
										<div class="jp-volume-bar-value"></div>
									</div>
								</div>

							</div>
							<div class="jp-details">
								<div class="jp-title" aria-label="title">&nbsp;</div>
							</div>
						</div>
					</div>
					<div class="jp-no-solution">
						<span>Update Required</span>
							To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
					</div>
				</div>
			</div>
			<br>
    </div>
		<div class="boutonsReactions col-md-4 col-xs-6">
			{% set nbReaction = 0 %}
            {%for reaction in reactions%}
                <button id="{{reaction.id_reaction}} {{reaction.color}} {{reaction.name}} {{nbReaction}}" style="background-color:{{reaction.color}}" class="btn reactionButton" col-md-5 onClick="interaction(this.id)">{{reaction.name}}</button>
				{% set nbReaction = nbReaction+1 %}
	        {%endfor%}
    </div>
    <br>
  <div class="row" id="timeline">
    {%for reaction in reactions%}
        <canvas id="{{'chart_' ~ reaction.name}}"  width="600" height="30"></canvas>
    {%endfor%}
    <form id="formValidation" action="ajouterInteraction?experience={{experience.id_experience}}" class="col-lg-offset-12" method="post">
    	<textarea name="reaction" id="reactionsTextArea" hidden></textarea>
      <textarea name="duree" id="duree" hidden></textarea>
		  <input type="submit" name="" class="btn btn-primary">
	   </form>

  </div>


<hr>

<h3>Commentaires</h3>


    <form class="form-group" action="ajouterCommentaire" method='get'>

      <textarea  class="form-control" rows="1" name='comment'></textarea>
      <input name="experience" value="{{experience.id_experience}}" hidden /><br/>
      <input class="btn btn-primary" type="submit" value="Ajouter un commentaire"/>
    </form>


<ul class='comment participant'>
  {% set nbCom = comments|length-1 %}
  {%if nbCom != -1 %}
  {% for i in 0..nbCom %}

    <li><a href="user?user={{ comments[i].id_users }}">{{ auteurs[i]}}</a>

    <div class="well">
      <div class="">
        {% if idUser == comments[i].id_users%}
        <button class="btn"type="button" name="button"><a  href="deleteComment?comment={{ comments[i].id_comment }}&experience={{ experience.id_experience}}">Supprimer</a><br/></button>
        {%endif%}
      </div>

    <br/>
    <p>
    {{ comments[i].comment }}<br/>
    <p/>
    <div class="text-muted">
      <small><h6>{{ comments[i].updated_at }}</h6></small><br/>
    </div>

    <div/>

  {% endfor %}


  {%endif%}
</ul>



<script src="js/experience.js" charset="utf-8"></script>
</body>
{% endblock %}
