{% extends 'app.twig'%}
{% block content %}
  <script src="js/formulaireExperience.js"></script>

<div class="body">

<div class="container">

<div class="form_exp">

  {% if success is defined %}
       <div class="alert-success center">  Votre expérience a été créée avec succès </div>
  {%endif%}

  <h1 class="center"> Création d'une expérience </h1>

  <hr>

	<form class="" action="checkForm" method="post" enctype="multipart/form-data">

      <label class="span-12 block" for="title">Titre :</label>
  		<input  class="span-5" type="text" name="title" placeholder="Nom" maxlength="50">

      <label class="span-12 block" for="presentation">Presentation :</label>
  		<textarea class="span-5" name="presentation" rows="8" cols="100" placeholder="Entrez votre presentation" maxlength="3000"></textarea>

  		<label class="block">Boutons réactions :</label>
      <div class="buttons">
  			<input type="text" name="button[0]" placeholder="Nom de la réaction"><input type="color" name="color[0]" value="#ff0000">
  			<br>
        <div class="buttons_added"></div>
  			<input type="button" class="btn" id="addButtonReaction" onclick="addReaction()" value="+">
	    </div>

		<label class="span-12 block" for="consignes">Consignes :</label>
  		<textarea class="span-5" name="consignes" rows="8" cols="100" placeholder="Entrez vos consigne" maxlength="3000"></textarea>
      <div class="block">
          <label class="span-12 block" for="video" maxlength='80'>Video :</label>

      		<input class="span-5" type="text" name="video" placeholder="URL">
      </div>

    <label class="block">Tags : </label>
		<div class="tags">
  			<input type="text" name="tag[0]" placeholder="Nom du tag">
        <div class="tags_added"></div>
        <input type="button" class="btn" id="addTagExperience" onclick="addTag()" value="+">
  		</div>
      <br>
  		<div class="span-12">
    		<input class="span-5 center btn btn-default" type="submit" value="Créer l'expérience">
  		</div>

	</form>

</div>

</div>

</div>

    {% if error is defined %}
        {% for er in error %}
            <div class="alert alert-danger">  {{er}} </div>
        {%endfor%}
    {%endif%}
{% endblock %}
