{% extends 'app.twig'%}
{% block content %}


<div class="container">

<h1 class="center"> Inscription </h1>

<hr>

<div class="offset-1 span-11 divi">
<form action="verifInscription" method="POST" id="inscription" enctype="multipart/form-data">

  <div class="formulaire span-6 center">

    <label class="span-4 block" for="nom">Nom</label>
    <input class="offset-1 span-5" name="nom" class="form-control" type="Nom" placeholder="Nom" maxlength="30"><br /></br>

    <label class="span-4 block" for="prenom">Prénom</label>
    <input class="offset-1 span-5" name="prenom" class="form-control" type="Prenom" placeholder="Prénom" maxlength="30">
    <br /></br>

    <label class="span-4 block" for="email">Email</label>

    <input class="offset-1 span-5" name="email" class="form-control" placeholder="Email" maxlength="60"></br><br/>

    <label class="span-4 block" for="mdp">Mot de passe</label>
    <input class="offset-1 span-5" name="mdp" type="password" class="form-control" id="mot_de_passe" size="20" maxlength="60" placeholder="Mot de passe"/><br/><br/>
    <label class="span-4 block" for="mdpcheck">Confirmation mot de passe</label>
    <input class="offset-1 span-5" name="mdpcheck" type="password" class="form-control" id="mot_de_passe" size="20" maxlength="60" placeholder="Mot de passe"/>
    <br>
    <br/>
  </div>


</div>

    </label>

    <div class="center">
    <button type="submit" class="btn btn-primary  center">S'inscrire</button>
    </div>

  </form>
  </div>


{% if error is defined %}
{% for er in error %}

<div class="alert alert-danger">  {{er}} </div>
{%endfor%}
{%endif%}
{% if success is defined %}


<div class="alert alert-success ">  {{success}} </div>

{%endif%}

</div>


{% endblock %}
