{% extends 'app.twig'%}
{% block content %}

<br>

{% if success is defined %}
		 <div class="alert-success center">  Ce participant est désormais chercheur </div>
{%endif%}


<h2 class="center">Liste des participants </h2>

<div class="container">

<table class="table-striped table center">
		<thead>
				<th class="center"> ID </th>
				<th class="center"> Nom </th>
        <th class="center"> Prénom </th>
        <th class="center"> Mail </th>
        <th class="center">  </th>
		</thead>

		<tbody>
			{%for participant in participants%}
			<tr>
          <form action="updateDroit" method="post" enctype="multipart/form-data">
							<input type='hidden' name='id_participant' value='{{participant.id_participant}}'>
							<td name="id_participant">{{participant.id_participant}}</td>
    					<td name="last_name">{{participant.last_name}}</td>
    					<td name="first_name">{{participant.first_name}}</td>
              <td name="email">{{participant.email}}</td>
              <td> <input class="btn btn-default" type="submit" value="Définir chercheur"> </td>
          </form>
      </tr>
			{%endfor%}
		</tbody>

</table>

</div>

{% endblock %}
