{% extends 'app.twig'%}
{% block content %}

<h2 class="center">Liste des experiences </h2>

<div class="container">

<table class="table-striped table center">
		<thead>
				<th class="center"> Nom de l'expérience </th>
				<th class="center"> Description </th>
				<th class="center"> Date de création </th>
		</thead>

		<tbody>
			{%for experience in experiences%}
			<tr>
					<td> <a href="experience?experience={{experience.id_experience}}">{{experience.title}}</a> </td>
					<td class="description"> {{experience.presentation}} </td>
					<td> {{ experience.created_at|date("d/m/Y") }} </td>
			</tr>
			{%endfor%}
		</tbody>

</table>

</div>

{% endblock %}
