<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="bienvenue">PsypHine
      <img class="logo" alt="Logo" src="img/logo.jpg">
    </a> -->
      <a class="navbar-brand" href="bienvenue"><span><img class="logo" src="img/logo.jpg"></span> PsyPhiNe  </a>
    </div>
    <ul class="nav navbar-nav">
      {%if session.isConnected == 0%}
        <li><a href="inscription">Inscription</a></li>
        <li><a href="connexion">Connexion</a></li>
      {% else %}
        <li>
          <form method="get" action="recherche" class="navbar-form navbar-left">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Rechercher" name="motcle">
              <div class="input-group-btn">
                <button class="btn btn-default loupe" type="submit">
                  <i class="glyphicon glyphicon-search" name="go"></i>
                </button>
              </div>
            </div>
          </form>
        </li>
        {%if session.droit != 0%}
          <li><a href="createExperience">Créer une expérience</a></li>
          <li><a href="definChercheur"> Définir un chercheur </a> </li>
        {% endif %}
        <li><a href="liste_experience">Liste des expériences</a></li>
        <li><a href="profil">Profil </a></li>
        <li><a href="deconexion">Deconnexion</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
