{% extends 'app.twig'%}
{% block content %}
<div class="container">
  <h1>{{utilisateur.last_name ~ " " ~ utilisateur.first_name}}</h1>
  <h4><i>{{droit}}</i></h4>
  <br />
  {% if droit == "chercheur" %}
    <h3>Experiences créées : </h3>
    {%set nbEx = 0 %}
    {% for experience in experiences %}
      <div class="experience well">
        <h4>{{experience.title}}</h4>
        <p class="presentation">{{experience.presentation}}</p>
        <button class="btn btn-info pull-right" data-toggle="collapse" data-target="{{"#exp" ~ experience.id_experience}}">Résultats</button>
        <div id="{{"exp" ~ experience.id_experience}}" class="collapse">
          <div class="containerVideo col-xs-12 col-md-7 col-md-offset-2">
      			<div id="jp_container_1" class="jp-video jp-video-360p lecteurVideo" role="application" aria-label="media player">
      				<div class="jp-type-single">
      					<div id="jquery_jplayer_{{experience.id_experience}}" class="jp-jplayer"></div>
      					<div class="jp-gui">
      						<div class="jp-video-play">
      							<button class="jp-video-play-icon" role="button" tabindex="0">play</button>
      						</div>
      						<div class="jp-interface">
      							<div class="jp-progress">
      								<div class="jp-seek-bar">
      									<div class="jp-play-bar"></div>
      								</div>
      							</div>
      							<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
      							<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
      							<div class="jp-controls-holder">
      								<div class="jp-controls">
      									<button class="jp-play" role="button" tabindex="0">play</button>
      									<button class="jp-stop" role="button" tabindex="0">stop</button>
      								</div>
      								<div class="jp-volume-controls">
      									<button class="jp-mute" role="button" tabindex="0">mute</button>
      									<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
      									<div class="jp-volume-bar">
      										<div class="jp-volume-bar-value"></div>
      									</div>
      								</div>

      							</div>
      							<div class="jp-details">
      								<div class="jp-title" aria-label="title">&nbsp;</div>
      							</div>
      						</div>
      					</div>
      					<div class="jp-no-solution">
      						<span>Update Required</span>
      							To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      					</div>
      				</div>
      			</div>
      			<br>
          </div>

          {% for reaction in reactions[nbEx] %}
            <canvas id="{{'finalChart_' ~ experience.id_experience ~ "_" ~ reaction.name}}" width="400" height="40"></canvas>
            <hr />
          {% endfor %}
        </div>
      </div>
      {% set nbEx = nbEx+1 %}
    {% endfor %}
    {% else %}
      <h3>Participations : </h3>
      {%for participation in participations %}
        {%for part_exp in participation %}
          <div class="experience well">
            <h4><a href="experience?experience={{part_exp.id_experience}}">{{part_exp.title}}</a></h4>
            <p>{{part_exp.presentation}}</p>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
</div>
</body>
{% if droit == "chercheur" %}
<script type="text/javascript">
var listExp = [];
listExp = initTableau(listExp, {{nbEx}});
var nbReac = 0;
var options = [];
var tabreac=[];
var allReaction = [];

id=0;
y=0;
idExp = [];
var duree = 300;
{%set countEx = 0 %}
document.addEventListener( "DOMContentLoaded", function() {

  console.log("test");
  {% for experience in experiences %}
    $("#jquery_jplayer_{{experience.id_experience}}").jPlayer({
        ready: function () {
            $(this).jPlayer("setMedia", {
                title: "{{video[countEx].name}}",
                rtmpv: "{{video[countEx].url}}",
                poster: ""
            });
        },
        swfPath: "js/jPlayer-2.9.2/dist/jplayer",
        solution: "flash",
        supplied: "rtmpv",
        preload: "auto",
        size: {
            width: "640px",
            height: "360px",
            cssClass: "jp-video-360p"
        },
        useStateClassSkin: true,
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true
    });
    y=0;
    nbReac = 0;
    allReaction[{{countEx}}] = [];
    {% for reaction in reactions[countEx] %}
      allReaction[{{countEx}}][nbReac] = {reaction : '{{reaction.name}}', color : '{{reaction.color}}'};
      nbReac++;
    {%endfor%}
    tabreac = initTableau(tabreac, nbReac);
  	{%for participant in participants[countEx]%}
  		{%for interaction in AllReactionsUsers[countEx] %}
  			{%for r in interaction %}
  				var id = 0;
  				{%for reaction in reactions[countEx]%}
  					{%if r.nom_reaction == reaction.name%}
  						{%if participant.id_participant == r.id_participant%}
  							tabreac[id] = tabreac[id].concat({x:{{r.time}}, y:y, r:4});
  						{%endif%}
  					{%endif%}
  					id++;
  				{%endfor%}
  			{%endfor%}
  		{%endfor%}
  		y++;
  	{%endfor%}
    listExp[{{countEx}}] = tabreac;
    idExp[{{countEx}}] = "{{experience.id_experience}}";
    console.log("{{video[countEx].size}}");
    if(!!"{{video[countEx].size}}"){
      duree = "{{ video[countEx].size }}";
    }else{
      duree = "300";
    }
    duree = parseInt(duree);
    options[{{countEx}}] = {
      elements: {
          points: {
              borderWidth: 1,
              borderColor: 'rgb(0, 0, 0)'
          }
      },
      scales : {
        yAxes : [{
          ticks : {
            min : 0,
            stepSize : 1
          }
        }],
        xAxes : [{
          gridLines : {
            drawOnChartArea : false
          },
          ticks : {
            min : 0,
            max : duree
          }
        }]
      }
    };
    {% set countEx = countEx + 1 %}
  {% endfor %}
	for (var i = 0; i < listExp.length; i++) {
    	for (var j = 0; j < listExp[i].length; j++) {
    		var data={
    			datasets: [
    			{
    				label: allReaction[i][j].reaction,
    				data: listExp[i][j],
    				backgroundColor:allReaction[i][j].color,
    				hoverBackgroundColor: allReaction[i][j].color
    			}]
    		};
    		var ctx = document.getElementById("finalChart_"+idExp[i]+"_"+allReaction[i][j].reaction);
    		var graphique = new Chart(ctx, {
    				type: 'bubble',
    				data: data,
    				options: options[i]
    		});
      }
	}
}, true);
function initTableau(tab, taille){
	tab = new Array(taille);
	for (var i = 0; i < tab.length; i++) {
		tab[i] = [];
	}
	return tab;
}
</script>
{% endif %}
{% endblock %}
