{% extends 'app.twig'%}
{% block content %}
<body>
<div class="alert alert-success">
  <strong>Merci d'avoir participer à l'experience, vous allez être redirigé.
  <script type="text/javascript">
  	
  	setTimeout(function(){
    	document.location.href="liste_experience";
	}, 5000);
  	
  </script>
</div>
</body>
{% endblock %}
