{% extends 'app.twig'%}
{% block content %}
<body>
<div class="container">

<table class="table-striped table center">
		<thead>
				<th class="center"> Nom de l'expérience </th>
				<th class="center"> Description </th>
				<th class="center"> Date de création </th>
		</thead>

		<tbody>
			{%for experience in experiences%}
			<tr>
					<td> <a href="experience?experience={{experience.id_experience}}">{{experience.title}}</a> </td>
					<td class="description"> {{experience.presentation}} </td>
					<td>{{experience.created_at}} </td>
			</tr>
			{%endfor%}
		</tbody>

</table>

{%for tag in tags %}
<h3>{{tag.name}}</h3>
<table class="table-striped table center">
		<thead>
				<th class="center"> Nom de l'expérience </th>
				<th class="center"> Description </th>
				<th class="center"> Date de création </th>
		</thead>

		<tbody>
			{%for e in experiencesToTags[tag.name][0] %}

			<tr>
					<td> <a href="experience?experience={{e.id_experience}}">{{e.title}}</a> </td>
					<td class="description"> {{e.presentation}} </td>
					<td>{{e.created_at}} </td>
			</tr>
			{%endfor%}
		</tbody>

</table>
{%endfor%}

</body>
{% endblock %}