/*.navbar{
  width: auto;
  list-style-type: none;
  margin-bottom: 0px;
  background-color: #333333;
}
  .navbar li{
	display: inline-block;
	padding: 16px; }
	.navbar li a {
	  color: #FFFFFF;
	  text-align: center;
	  text-decoration: none; }
	.navbar li:hover {
	  background-color: #262626; }
  .navbar .disabled{
	pointer-events: none;
	cursor: default;
	opacity: 0.6; }
  .navbar .active{
	background-color: #262626; }
  @media screen and (max-width: 1024px) {
	.navbar{
	  padding: 0;
	  margin: 0; }
	  .navbar li{
		display: block;
		text-align: center;
		text-transform: uppercase; } }

.navbar li {
  padding-top: 5px;
  padding-bottom: 0px;
  vertical-align: middle; }

.navbar li.logo {
  padding: 2px; }
  .navbar li.logo img {
	width: 54px;
	height: 54px; }

.loupe {
  width: 20px; }*/

.logo{
  width: 30px;
}
.list{
  list-style-type: none;
  display:inline;
}

.lecteurVideo{
	float:left;
}

.boutonsReactions{
  border: 1px dotted black;
  margin : 10px;
	height: 100%;

}

.reactionButton{
	margin: 8px;
  color: white;
}

.blue{
	background-color:blue;
}

.red{
	background-color:red;
}

.green{
	background-color:green;
}

.black{
	background-color:black;
	color : white;
}

#editor-render-0 {
  	width: 480px;
  	height: 100px;
 	margin: 24px auto;
}

.tr {height:25px; overflow:hidden}
/*#timeline{
  max-width: 800px;
  max-height: 10px;
}*/
#exp{
  padding: 20px;
}
.presentation{
  line-height: 1.3em;
  max-height: 2.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.description{
  line-height: 1.3em;
  max-height: 3.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.form_exp{

    width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.block{

  display:block;
  margin-top: 15px;

}

.login{
text-align: center;

}

html{
    background-color: #e6ecf0;
}


.container{
    background-color: white;
    padding: 20px;
}

.center{
    text-align: center;
}
